<mat-card>

        <h2> Capsule Types Facts:</h2>
        <button [cdkCopyToClipboard]="copyTableData()">Click to Copy</button>
        <table width="100%" mat-table [dataSource]="dataSource" class="mat-elevation-z8">

                <!-- id Column -->
                <ng-container matColumnDef="id">
                        <th mat-header-cell *matHeaderCellDef> No. </th>
                        <td mat-cell *matCellDef="let element"> {{element.id }} </td>
                </ng-container>
                <!-- capsule_type Column -->
                <ng-container matColumnDef="capsule_type">
                        <th mat-header-cell *matHeaderCellDef> Capsule </th>
                        <td mat-cell *matCellDef="let element"> {{element.capsule_type}} </td>
                </ng-container>
                <!-- Total count Column -->
                <ng-container matColumnDef="frequency">
                        <th mat-header-cell *matHeaderCellDef> Total count </th>
                        <td mat-cell *matCellDef="let element"> {{element.frequency}} </td>
                </ng-container>
                <!-- Launches Column -->
                <ng-container matColumnDef="total_launches">
                        <th mat-header-cell *matHeaderCellDef> Launches </th>
                        <td mat-cell *matCellDef="let element"> {{element.total_launches }} </td>
                </ng-container>
                <!--  Landing Attempts Column -->
                <ng-container matColumnDef="total_landing_attempt">
                        <th mat-header-cell *matHeaderCellDef> Landing Attempts </th>
                        <td mat-cell *matCellDef="let element"> {{element.total_landing_attempt}} </td>
                </ng-container>
                <!-- Water landing Column -->
                <ng-container matColumnDef="total_water_landings">
                        <th mat-header-cell *matHeaderCellDef> Water landing </th>
                        <td mat-cell *matCellDef="let element"> {{element.total_water_landings}} </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

</mat-card>
<mat-card>
        <h2>Launches facts:</h2>
        <div class="row">
                <div class="column">Total launches:</div>
                <div class="column2">{{this.launchList.length}}</div>
                <div class="column"> <label>Successful launches:</label> </div>
                <div class="column2"><label> {{this.launchSuccessList.length}}</label> </div>
                <div class="column"><label> Failed launches:</label> </div>
                <div class="column2"><label> {{this.launchfailureList.length}}</label></div>
                <div class="column"> <label>Total crew sent:</label> </div>
                <div class="column2"> <label> {{crewCount}}</label></div>
                <div class="column"><label>crew (NASA) sent:</label> </div>
                <div class="column2"> <label> {{crewNasa}}</label> </div>
                <div class="column"> <label>crew (SPACEX) sent:</label> </div>
                <div class="column2"><label> {{crewJaxa}}</label> </div>
        </div>
        <button [cdkCopyToClipboard]="copyFacts()">Click to Copy</button>
</mat-card>